<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/home.css">

    <title>Home</title>
</head>
<body>
    <div class="detalhesUsuario">
        <h1>Dados</h1>
        <div class="dados">
            <div class="campos-container">
                <div class="campo">
                    <span class="campo-titulo">NOME:</span>
                    <span class="campo-valor">ttt0tt0</span>
                </div>
                <div class="campo">
                    <span class="campo-titulo">TELEFONE:</span>
                    <span class="campo-valor">31 988823-22</span>
                </div>
                <div class="campo">
                    <span class="campo-titulo">EMAIL:</span>
                    <span class="campo-valor">t0@gmail.com</span>
                </div>
            </div>
        </div>
        
        <button class="btn-edit">Editar</button>
        <button class="btn-exc">Excluir</button>
        <button class="btn-sair">Sair</button>
    </div>
</body>
</html>
