<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form action="" class="formConect">
            <input type="text" id="email" name="email" placeholder="Email">
            <input type="password" name="senha" id="senha" placeholder="Password">
            <button type="submit">Entrar</button>
        </br></br>
            <span><a href="cadastro.html">Não possui cadastro?</a></span>
        </form>
    </div>
</body>
</html>
